:root {
    --blue-color : #1992d4;
    --pastel-blue-color : #e2e8f0;
    --white-color: #ffffff;
    --bright-orange-color: #f0b429;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: 2rem;
}

ul {
    list-style: none;
}

#container {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 190px 1fr;
}

#sidebar {
    background-color: var(--blue-color);
}