:root {
  --blue-color : #1992d4;
  --pastel-blue-color : #e2e8f0;
  --white-color: #ffffff;
  --bright-orange-color: #f0b429;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

img {
  height: 2rem;
}

#container {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

#sidebar {
  background-color: var(--blue-color);
  color: var(--white-color);
  grid-column: 1;
  grid-row: 1 / 4;
}

#sidebar-dash {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 20px;
  font-size: 1.2rem;
  gap: 15px;
}

#sidebar-head-icon {
  height: 3rem;
  width: 3rem;
}

#sidebar-head-icon,
li > img {
  filter: invert(100%);
}

#nav ul {
  margin-bottom: 5rem;
}

ul {
  list-style: none;
  display: grid;
  gap: 20px;
}

ul li {
  display: grid;
  grid-template-columns: 1fr 5fr;
  font-size: 1.3rem;
  font-weight: 600;
}

#header {
  grid-column: 2 / 3;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  gap: 10px 20px;
  padding: 15px 40px;
  align-items: center;
}

#search {
  display: flex;
  align-items: center;
  gap: 10px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#search > input {
    height: 2rem;
    width: 70%;
    border-radius: 20px;
    border: none;
    background-color: var(--pastel-blue-color);
}

#notifications {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#notifications h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

#notifications img:last-of-type {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

#greeting {
  display: flex;
  align-items: center;
  gap: 10px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.greeting-text {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

#greeting img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 15px;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#buttons button {
  padding: 15px 35px;
  border-radius: 25px;
  background-color: var(--blue-color);
  border: none;
  color: var(--white-color);
  font-weight: bold;
}

#main-content {
  background-color: var(--pastel-blue-color);
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 25px;
}

#projects {
  grid-column: 1;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}

.project {
  border: 1px solid white;
  border-left: 10px solid var(--bright-orange-color);
  border-radius: 10px;
  padding: 20px;
  background-color: var(--white-color);
  box-shadow: 5px 5px 10px -10px;
}

.symbols {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.symbols img {
  height: 2rem;
  width: 2rem;
}

#right-sidebar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column: 2;
  grid-row: 1;
  padding-left: 25px;
} 

#one {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#three {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.announcements-line {
  background-color: var(--white-color);
  box-shadow: 5px 5px 10px -10px;
  grid-template-columns: 1fr;
  padding: 20px;
  border-bottom: 2px solid lightgray;
}

#trending {
  grid-row: 2;
}

#trending-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
  border-radius: 15px;
  background-color: var(--white-color);
  box-shadow: 5px 5px 10px -10px;
}

.person {
  display: flex;
  align-items: center;
  gap: 15px;
}

.person-text {
  display: flex;
  flex-direction: column;
}

.person img {
  width: 4rem;
  height: 4rem;
}

.person p {
  margin: 0;
  line-height: 1.2;
}

.person p:first-of-type {
  font-weight: bold;
}

.person p:last-of-type {
  font-size: 0.9em;
  color: #777;
}