:root {
    --blue-color : #1992d4;
    --pastel-blue-color : #e2e8f0;
    --white-color: #ffffff;
    --bright-orange-color: #f0b429;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

img {
    height: 2rem;
}

#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#sidebar {
    background-color: var(--blue-color);
    color: var(--white-color);
    grid-row: 1 / 4;
}

#sidebar-dash {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 20px;
    font-size: 1.5rem;
    gap: 20px;
}

#sidebar-head-icon {
    height: 3rem;
    width: 3rem;
}

#nav ul {
    margin-bottom: 5rem;
}

ul {
    list-style: none;
    display: grid;
    gap: 20px;
}

ul li {
    display: grid;
    grid-template-columns: 1fr 5fr;
    font-size: 1.3rem;
    font-weight: 600;
}
